.Car{
  max-width: 50vw;
  min-width: 25rem;
}

.Caros{
  display: flex;
  justify-content: center;
}

.Topcont{
  background-image: url('https://images.unsplash.com/photo-1551478303-26205be5b420?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.cw{
  width: 18rem;
}

.csw{
  width: 28rem;
}

.textcont{
  color: #9c9b9b;
}

.cardcont{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fixednav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.aboutcont {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 350px){
  .Car{
            min-width: 350px;
           }
  }


.flexgap{
  gap: 20px;
}

.transparent{
  background-color: #ffffff00;
}

.loading-animation {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.heightutil{
  height: 80vh;
}